body {
    background-color: #ade1f7;
    font-family: 'Schoolbell', cursive;
    color: #1f2a3d;

  }
ul {
  list-style-type: none;
}

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 1000px;
    height: 1000px;
  }

button {
    background-color: #1f2a3d;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Schoolbell', cursive;
    border-radius: 12px;
  }



