body {
    background-color: #ade1f7;
    font-family: 'Schoolbell', cursive;
    color: #1f2a3d;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 1000px;
    height: 1000px;
  }